numpy>=1.22.4
numba>=0.55.2
pandas>=1.4.0
matplotlib>=3.5.2
tqdm>=4.64.0
isodate>=0.6.1
scipy>=1.7.3
pyedflib>=0.1.28
scikit-learn>=1.1.1
flatten-dict>=0.4.2
fpdf>=1.7.2
textract>=1.6.5
toml>=0.10.2
msoffcrypto-tool>=5.0.0
vertdetach@git+https://github.com/nimbal/vertdetach@1.0